{% assign author = site.data.authors[page.author] %}
{% assign lang = page.lang %}
    <div>
      {% if lang == "pt" %}
      <span class="post_date">Citação</span>
	  <div class="footnotes">
	    {{ author.publish_name }} ({{page.date | date: "%Y"}}). "{{page.title}}". Publicado em lgmoneda.github.io, acesso em {{site.time | date: "%d/%m/%Y"}}.
	  </div>
      {% else %}
      <span class="post_date">Citation</span>
	  <div class="footnotes">{{ author.publish_name }} ({{page.date | date: "%Y"}}). "{{page.title}}". Retrieved {{site.time | date: "%B %d, %Y"}}, from lgmoneda.github.io.</div>
      {% endif %}
	  <br>
	  <div class="bibtex-entry">
		  @misc{% raw %}{{% endraw %}moneda{{page.date | date: "%Y"}}{{page.ref}}-blogpost,
		  author = {Moneda, Luis},
		  title = {% raw %}{{% endraw %}{{page.title}}{% raw %}}{% endraw %},
		  year = {% raw %}{{% endraw %}{{page.date | date: "%Y"}}{% raw %}}{% endraw %},
		  url = {% raw %}{{% endraw %}{{page.url | absolute_url}}{% raw %}}{% endraw %},
		  note = {Accessed: {{ "now" | date: "%Y-%m-%d" }}}
		  }
	  </div>
      <br>
  </div>
