<!DOCTYPE html>
	<html>
		<head>
			{% include google-analytics.html %}
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

			<!-- code highlighting https://highlightjs.org/ -->
			<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
			<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>

			<!--
			<link rel="stylesheet" href="/path/to/styles/default.css">
			<script src="/path/to/highlight.pack.js"></script>
			-->
			<script>hljs.initHighlightingOnLoad();</script>
			<script type="text/javascript"
				src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
			</script>
		</head>
		<body>
		  <h1 class="blog-title" align="center">Machina Economicus</h1>
			<nav align="center">
				<ul>
	  				{% for menu in site.t[page.lang] %}
	    			<li><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></li>
	  				{% endfor %}
	  				<li><a href="/"> / </a></li>
	  				{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
					{% for page in pages %}
  					<li>
    					<a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
  					</li>
					{% endfor %}
					<!-- Multi languages for posts too -->

					{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
					{% for post in posts %}
  					<li>
  						<span class="flag-icon flag-icon-gr flag-icon-squared"></span>
    					<a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
  					</li>
					{% endfor %}

				</ul>
	    		<!--<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/"> / </a></li>
					{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
					{% for page in pages %}
  					<li>
    					<a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
  					</li>
					{% endfor %}
	    		</ul> -->
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:lg.moneda@gmail.com"> <i class="fa fa-mail-reply fa-lg"> E-mail</i></a></li>
	        		<li><a href="https://github.com/lgmoneda"><i class="fa fa-github fa-lg"> Github</i></a></li>
	        		<li><a href="https://twitter.com/lgmoneda"><i class="fa fa-twitter fa-lg"> Twitter</i></a></li>
	        		<!--
	        		<li><a href="https://facebook.com/lgmoneda"><i class="fa fa-facebook fa-lg"> Facebook</i></a></li>
	        		<li><a href="https://twitter.com/lgmoneda"><i class="fa fa-twitter fa-lg"> Twitter</i></a></li>
	        		 <li><a href="https://instagram.com/lgmoneda"><i class="fa fa-instagram fa-lg"> Instagram</i></a></li>
	        		 -->
	        		<li><a href="https://www.linkedin.com/in/luis-moneda-310b0010a"><i class="fa fa-linkedin fa-lg"> Linkedin</i></a></li>
				</ul>
			</footer>
		</body>
	</html>
