---
layout: default
---

<div class="row" style="margin-bottom: 20px;">
{% if page.lang == "pt" %}
    {% assign m = page.date | date: "%-m" | minus: 1 %}
    <time class="meta post_date full">{{page.date | date:"%d "}} {{site.data.dates.pt.months[m]}} {{page.date | date:" %Y"}}</time>
{% else %}
    <time class="meta post_date full">{{ page.date | date_to_string }}</time>
{% endif %}
	<h2 class="post-title in-post-title">{{ page.title }}</h2>
<p class="small description" style="margin-bottom: 18px;">{{ page.description }}</p>
<ul style="text-align:center">
  {% for tag in page.tags %}
    <a href="{{ group.absolute_url }}/blog/{{tag}}"><li class="tag green">#{{tag}}</li></a>
  {% endfor %}
</ul>
<footer></footer>
</div>

{% if page.toc == true %}
<h2> Index </h2>
{% include toc.html html=content %}
{% endif %}

<div class="post">
  {{ content }}
</div>

{% assign author = site.data.authors[page.author] %}
{% if author %}
{% include author.html %}
{% endif %}

{% assign author = site.data.authors[page.author] %}
{% if author %}
{% include citation.html %}
{% endif %}
